<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.AccountDAO">
	<insert id="insertAccount">
		insert into 
			account(ac_me_num, ac_ba_name, ac_me_name, ac_num) 
		values(#{account.ac_me_num}, #{account.ac_ba_name}, #{account.ac_me_name}, #{account.ac_num})
	</insert>
	<select id="selectAccount" resultType="kr.kh.final_project.vo.AccountVO">
		select * from account where ac_me_num = #{me_num}
	</select>
	<update id="updateAccount">
		update
			account
		set
			ac_ba_name = #{account.ac_ba_name},
			ac_me_name = #{account.ac_me_name},
			ac_num = #{account.ac_num}
		where
			ac_me_num = #{account.ac_me_num}
	</update>
</mapper>