<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.BlockDAO">
	<select id="selectBlockList" resultType="kr.kh.final_project.vo.BlockVO">
		select 
			*
		from
			block
		where
			bl_me_num = #{me_num}
	</select>
	<delete id="deleteBlock">
		delete from
			block
		where
			bl_me_num = #{block.bl_me_num}
		and
			bl_blocked_num = #{block.bl_blocked_num}
	</delete>
	<insert id="insertBlock">
		insert into 
			block(bl_me_num, bl_blocked_num)
    	values
    		(#{block.bl_me_num}, #{block.bl_blocked_num})
	</insert>
</mapper>