<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.BoardDAO">
	<!-- 게시글을 가져올 떄 첨부파일을 자동으로 가져오기 위해 resultMap을 사용함-->
	<resultMap type="kr.kh.final_project.vo.BoardVO" id="BoardVO">
		<id property="bo_num" column="bo_num"/>
		<result property="bo_bt_num" column="bo_bt_num"/>
		<result property="bo_rg_num" column="bo_rg_num"/>
		<result property="bo_title" column="bo_title"/>
		<result property="bo_me_num" column="bo_me_num"/>
		<result property="bo_reg_date" column="bo_reg_date"/>
		<result property="bo_up_date" column="bo_up_date"/>
		<result property="bo_contents" column="bo_contents"/>
		<result property="bo_count" column="bo_count"/>
		<result property="bo_comment" column="bo_comment"/>
		<collection property="fileVoList" ofType="kr.kh.final_project.vo.FileVO" column="bo_num" select="selectFileList"/>
	</resultMap>
	<insert id="insertManager" useGeneratedKeys="true" keyProperty="board.bo_num">
		insert into board(bo_bt_num, bo_rg_num, bo_title, bo_me_num, bo_reg_date)
		values (6, 1, '매니저 신청', #{board.bo_me_num}, now())
	</insert>
	<insert id="insertFile">
		insert into file(fi_bo_num, fi_name, fi_ori_name)
		values(#{file.fi_bo_num}, #{file.fi_name}, #{file.fi_ori_name})
	</insert>
	<select id="selectFileList" resultType="kr.kh.final_project.vo.FileVO">
		select * from file where fi_bo_num = #{bo_num}
	</select>
	<insert id="insertBusinessman" useGeneratedKeys="true" keyProperty="board.bo_num">
		insert into board(bo_bt_num, bo_rg_num, bo_title, bo_me_num, bo_reg_date)
		values (7, 1, '사업자 신청', #{board.bo_me_num}, now())
	</insert>
	<!-- 공지게시판 글 가져오기 -->
	<select id="selectBoardList" resultType="kr.kh.final_project.vo.BoardVO">
		select
			*
		from
			board
				join
			member
				on bo_me_num = me_num
		where
			bo_bt_num = 1
				and
			me_authority = "ADMIN"
				and
		<if test="cri.t == 'all'">
			(
				bo_num like concat('%', #{cri.s}, '%')
					or
				me_nickname like concat('%', #{cri.s}, '%')
					or
				bo_title like concat('%', #{cri.s}, '%')
					or
				bo_reg_date like concat('%', #{cri.s}, '%')
			)		
		</if> 
		<if test="cri.t == 'first'">
				bo_num like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'second'">
				me_nickname like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'third'">
				bo_title like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'fourth'">
				bo_reg_date like concat('%', #{cri.s}, '%')
		</if>
		order by
			bo_reg_date
				desc
		limit
			#{cri.pageStart}, #{cri.perPageNum}
	</select>
	<!-- 공지게시판 총 갯수 가져오기 -->
	<select id="selectTotalCount" resultType="int">
		select
			count(*)
		from
			board
				join
			member
				on bo_me_num = me_num
		where
			bo_bt_num = 1
				and
			me_authority = "ADMIN"
				and
		<if test="cri.t == 'all'">
			(
				bo_num like concat('%', #{cri.s}, '%')
					or
				me_nickname like concat('%', #{cri.s}, '%')
					or
				bo_title like concat('%', #{cri.s}, '%')
					or
				bo_reg_date like concat('%', #{cri.s}, '%')
			)		
		</if> 
		<if test="cri.t == 'first'">
				bo_num like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'second'">
				me_nickname like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'third'">
				bo_title like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'fourth'">
				bo_reg_date like concat('%', #{cri.s}, '%')
		</if>
	</select>	
	<insert id="insertBoard" useGeneratedKeys="true" keyProperty="board.bo_num">
		insert 
			into 
				board(
					  bo_bt_num, 
					  bo_rg_num,
					  bo_title, 
					  bo_me_num,
					  bo_reg_date,
					  bo_contents,
					  bo_count,
					  bo_comment)
    		values (
    				1,
    				1,
    				#{board.bo_title}, 
    				#{board.bo_me_num},
    				now(),
    				#{board.bo_contents},
    				#{board.bo_count},
    				#{board.bo_comment})
	</insert>
	<select id="selectBoard" resultType="kr.kh.final_project.vo.BoardVO">
		select
			*
		from
			board
		where
			bo_num = #{bo_num}
	</select>
	<!-- 게시글 조회수 올리기 -->
	<update id="updateBoardViews">
		update
			board
				set 
					bo_count = bo_count + 1
			where
				bo_num = #{bo_num}
	</update>
	<select id="selectFileList2" resultType="kr.kh.final_project.vo.FileVO">
		select * from file where fi_bo_num = #{bo_num}
	</select>
	<!-- 게시글 삭제하기 -->
	<delete id="deleteBoard">
		delete
			from
				board
		where
			bo_num = #{bo_num}
	</delete>
	<delete id="deleteFile">
		delete from file where fi_num = #{fi_num}
	</delete>
	<update id="updateBoard">
		update board
		set
			bo_title = #{board.bo_title},
			bo_contents = #{board.bo_contents},
			bo_up_date = now()
		where
			bo_num = #{board.bo_num}
	</update>
	<select id="selectFile" resultType="kr.kh.final_project.vo.FileVO">
		select * from file where fi_num = #{fi_num}
	</select>
	<!-- 게시판 댓글 수 표기하기 -->
	<update id="updateBoardComment">
		update board
		set
			bo_comment = (select count(*) from comment where co_bo_num = #{bo_num})
		where
			bo_num = #{bo_num}
	</update>
	<!-- 게시판 답글 수 표기하기 -->
	<update id="updateBoardComment2">
		update board
		set
			bo_comment = (select count(*) from comment where co_bo_num = #{bo_num})
		where
			bo_num = #{bo_num}
	</update>
</mapper>