<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.BusinessmanDAO">
	<select id="selectFacilityList" resultType="kr.kh.final_project.vo.FacilityVO">
			select * from facility order by fa_num desc
	</select>
	<insert id="" >
		insert into facility(fa_bu_num, fa_name, fa_add, fa_add_detail, fa_phone, fa_locker,fa_toilet,
			 fa_shower, fa_smoking, fa_machine, fa_note)
		values (#{facility.fa_bu_num}, #{facility.fa_name}, #{facility.fa_add}, 
			#{facility.fa_add_detail}, #{facility.fa_phone}, 0, 0, 0, 0, 0, 0)
	</insert>
</mapper>
