<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.BusinessDAO">
	<!-- 사업자신청 조회하기 & 검색기능 -->
	<select id="selectBusinessList" resultType="kr.kh.final_project.vo.ManagerVO">
		select
			*
		from
			board
				join
			member on bo_me_num = me_num
		where
			bo_bt_num = 7
				and
			me_authority = "USER"
				and
		<if test="cri.t == 'all'">
			(
				me_num like concat('%', #{cri.s}, '%')
					or
				me_nickname like concat('%', #{cri.s}, '%')
					or
				bo_title like concat('%', #{cri.s}, '%')
					or
				bo_reg_date like concat('%', #{cri.s}, '%')
			)		
		</if> 
		<if test="cri.t == 'first'">
				me_nickname like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'second'">
				bo_title like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'third'">
				bo_reg_date like concat('%', #{cri.s}, '%')
		</if>
		order by
			bo_reg_date desc
		limit
			#{cri.pageStart}, #{cri.perPageNum}
	</select>
	<!-- 사업자신청 수락버튼 (권한 바꾸기) -->
	<update id="updateBusinessByAuthority">
		update
			member
		set
			me_authority = 'BUSINESS'
		where
			me_nickname = #{manager.me_nickname}
	</update>
	<!-- 사업자신청 페이지네이션 -->
	<select id="selectTotalCount" resultType="int">
		select
			count(*)
		from
			board
				join
			member on bo_me_num = me_num
		where
			bo_bt_num = 7
				and
			me_authority = "USER"
				and
		<if test="cri.t == 'all'">
			(
				me_num like concat('%', #{cri.s}, '%')
					or
				me_nickname like concat('%', #{cri.s}, '%')
					or
				bo_title like concat('%', #{cri.s}, '%')
					or
				bo_reg_date like concat('%', #{cri.s}, '%')
			)		
		</if> 
		<if test="cri.t == 'first'">
				me_nickname like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'second'">
				bo_title like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'third'">
				bo_reg_date like concat('%', #{cri.s}, '%')
		</if>
		order by
			bo_reg_date desc
	</select> 
	<!-- 사업자조회하기 & 검색기능 -->
	<select id="selectBusinessList2" resultType="kr.kh.final_project.vo.ManagerVO">
		select
			*
		from
			board
				join
			member on bo_me_num = me_num
		where
			bo_bt_num = 7
				and
			me_authority = "BUSINESS"
				and
		<if test="cri.t == 'all'">
			(
				me_num like concat('%', #{cri.s}, '%')
					or
				me_nickname like concat('%', #{cri.s}, '%')
					or
				bo_title like concat('%', #{cri.s}, '%')
					or
				bo_reg_date like concat('%', #{cri.s}, '%')
			)		
		</if> 
		<if test="cri.t == 'first'">
				me_nickname like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'second'">
				bo_title like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'third'">
				bo_reg_date like concat('%', #{cri.s}, '%')
		</if>
		order by
			bo_reg_date desc
		limit
			#{cri.pageStart}, #{cri.perPageNum}
	</select>
	<!-- 사업자 취소버튼 (권한 바꾸기) -->
	<update id="updateBusinessByAuthority2">
		update
			member
		set
			me_authority = 'USER'
		where
			me_nickname = #{manager.me_nickname}
	</update>
	<!-- 사업자 페이지네이션 -->
	<select id="selectTotalCount2" resultType="int">
		select
			count(*)
		from
			board
				join
			member on bo_me_num = me_num
		where
			bo_bt_num = 7
				and
			me_authority = "BUSINESS"
				and
		<if test="cri.t == 'all'">
			(
				me_num like concat('%', #{cri.s}, '%')
					or
				me_nickname like concat('%', #{cri.s}, '%')
					or
				bo_title like concat('%', #{cri.s}, '%')
					or
				bo_reg_date like concat('%', #{cri.s}, '%')
			)		
		</if> 
		<if test="cri.t == 'first'">
				me_nickname like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'second'">
				bo_title like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'third'">
				bo_reg_date like concat('%', #{cri.s}, '%')
		</if>
		order by
			bo_reg_date desc
	</select> 
	<delete id="deleteBoardBusinessList">
		delete
			from
				board
			where
				bo_me_num = ( select
									me_num 
								from 
									member
								where
									 me_nickname = #{manager.me_nickname})
	</delete>
	<select id="selectBusinessListByInsert" resultType="kr.kh.final_project.vo.BusinessmanVO">
		select
			*
		from
			businessman
		where
		<if test="cri.t == 'all'">
			(
				bu_me_num like concat('%', #{cri.s}, '%')
					or
				bu_name like concat('%', #{cri.s}, '%')
					or
				bu_registration_number like concat('%', #{cri.s}, '%')
			)		
		</if>
		<if test="cri.t == 'first'">
				bu_num like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'second'">
				bu_name like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'third'">
				bu_registration_number like concat('%', #{cri.s}, '%')
		</if>
		and
			bu_state = 0
		order by
			bu_num desc
		limit
			#{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectTotalCountByBusiness" resultType="int">
		select
			count(*)
		from
			businessman
		where
		<if test="cri.t == 'all'">
			(
				bu_me_num like concat('%', #{cri.s}, '%')
					or
				bu_name like concat('%', #{cri.s}, '%')
					or
				bu_registration_number like concat('%', #{cri.s}, '%')
			)		
		</if>
		<if test="cri.t == 'first'">
				bu_num like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'second'">
				bu_name like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'third'">
				bu_registration_number like concat('%', #{cri.s}, '%')
		</if>
		and
			bu_state = 0
	</select>
	<insert id="insertBusiness">
		insert into Businessman (bu_name, bu_phone, bu_registration_number,bu_email,bu_me_num,bu_state)
		values(#{bu.bu_name},#{bu.bu_phone},#{bu.bu_registration_number},#{bu.bu_email},#{bu.bu_me_num}, 0)
	</insert>
	<select id="selectBusinessList3" resultType="kr.kh.final_project.vo.BusinessmanVO">
		select
			*
		from
			businessman
		where
			bu_num = #{bu_num}
	</select>
	<update id="updateBusiness">
		update
			businessman
		set
			bu_name = #{businessman.bu_name},
			bu_phone = #{businessman.bu_phone},
			bu_registration_number = #{businessman.bu_registration_number},
			bu_email = #{businessman.bu_email},
			bu_me_num = #{businessman.bu_me_num}
		where
			bu_num = #{businessman.bu_num}
	</update>
	<update id="deleteBusinessList">
		update
			businessman
		set
			bu_state = 1
		where
			bu_num = #{bu_num}
	</update>
<!-- 	<delete id="deleteBusinessList"> -->
<!-- 		delete from businessman where bu_num = #{bu_num} -->
<!-- 	</delete> -->
	<delete id="deleteBusinessList">
		delete from businessman where bu_num = #{bu_num}
	</delete>
	<select id="selectBusinessManByFaBuNum" resultType="kr.kh.final_project.vo.BusinessmanVO">
		select businessman.* from businessman
		join facility on bu_num = #{fa_bu_num} group by bu_num
	</select>	
</mapper>