<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.BusinessmanDAO">
	<select id="selectFacilityList" resultType="kr.kh.final_project.vo.FacilityVO">
			select * from facility order by fa_num desc
	</select>
	<select id="seletBusinessmanByNum" resultType="kr.kh.final_project.vo.BusinessmanVO">
		select * from Businessman where bu_me_num = #{me_num}
	</select>
</mapper>
