<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.ClubMemberDAO">
	<insert id="insertClubLeader">
		insert into club_member(cm_me_num, cm_cl_num, cm_authority) values(#{me_num},#{cl_num},#{authority})
	</insert>
	<insert id="insertClubMember">
		insert into club_member(cm_me_num, cm_cl_num,cm_introduction) 
		values(#{member.cm_me_num},#{member.cm_cl_num},#{member.cm_introduction})
	</insert>
	<select id="selecMytAuthorityByClub" resultType="kr.kh.final_project.vo.ClubMemberVO">
		select * from club_member
		where cm_cl_num = #{cl_num} and cm_me_num = #{me_num}
	</select>
</mapper>