<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.ClubMemberDAO">
	<insert id="insertClubLeader">
		insert into club_member(cm_me_num, cm_cl_num, cm_authority) values(#{me_num},#{cl_num},#{authority})
	</insert>
	<insert id="insertClubMember">
		insert into club_member(cm_me_num, cm_cl_num,cm_introduction) 
		values(#{member.cm_me_num},#{member.cm_cl_num},#{member.cm_introduction})
	</insert>
	<select id="selectClubMemberByMeNum" resultType="kr.kh.final_project.vo.ClubMemberVO">
		select
			*
		from
			club_member
		where
			cm_me_num = #{me_num} and
			cm_cl_num = #{cl_num}
	</select>
	<select id="selectClubMemberListByMtNum" resultType="kr.kh.final_project.vo.ClubMemberVO">
		select
			club_member.*,
		    me_nickname,
		    me_rating,
		    me_tr_name,
		    ifnull(en_num, 0) as en_num,
		    if(ifnull(T1.t1, 0) + ifnull(T2.t2, 0) + ifnull(T3.t3, 0) = 0, true, false) as entry_able
		from
			club_member
				join
			member on cm_me_num = me_num
				join
			club_team on cm_cl_num = ct_cl_num
				join
			team on ct_te_num = te_num
				join
			`match` on te_mt_num = mt_num
				left join
			entry on en_te_num = te_num and en_me_num = cm_me_num
				left join
		    (select
				mt_ti_num as t1,
		        en_me_num as e1
			from
				entry
					join
				team on en_te_num = te_num
					join
				`match` on te_mt_num = mt_num
			where
				mt_date = mt_date) as T1 on T1.t1 = mt_ti_num and T1.e1 = cm_me_num
				left join
		    (select
				mt_ti_num + 1 as t2,
		        en_me_num as e2
			from
				entry
					join
				team on en_te_num = te_num
					join
				`match` on te_mt_num = mt_num
			where
				mt_date = mt_date) as T2 on T2.t2 = mt_ti_num and T2.e2 = cm_me_num
				left join
		    (select
				mt_ti_num - 1 as t3,
		        en_me_num as e3
			from
				entry
					join
				team on en_te_num = te_num
					join
				`match` on te_mt_num = mt_num
			where
				mt_date = mt_date) as T3 on T3.t3 = mt_ti_num and T3.e3 = cm_me_num
		where
			cm_cl_num = #{cl_num} and
		    (cm_authority = "LEADER" or cm_authority = "MEMBER") and
		    mt_num = #{mt_num}
		order by me_rating desc;
	</select>
	<select id="selectClubLeader" resultType="kr.kh.final_project.vo.ClubMemberVO">
		select
			club_member.*
		from
			club
				join
			club_member on cm_cl_num = cl_num
		where
			cl_num = #{cl_num} and
		    cm_authority = 'LEADER'
	</select>
</mapper>