<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.ClubDAO">
	<select id="selectClub" resultType="kr.kh.final_project.vo.ClubVO">
		select * from club where cl_name = #{club.cl_name}
	</select>
	<insert id="insertClub">
		insert into club(cl_name, cl_emblem, cl_price, cl_rule, cl_introduction, cl_url, cl_rg_num)
		 values(#{club.cl_name},#{club.cl_emblem},#{club.cl_price},#{club.cl_rule},#{club.cl_introduction},#{club.cl_url},#{club.cl_rg_num})
	</insert>
</mapper>