<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.ClubDAO">
	<select id="selectClubByName" resultType="kr.kh.final_project.vo.ClubVO">
		select * from club where cl_name = #{cl_name}
	</select>
	<select id="selectClubList" resultType="kr.kh.final_project.vo.ClubVO">
		select * from club 
	</select>
	<select id="selectClubByNum" resultType="kr.kh.final_project.vo.ClubVO">
		select * from club where cl_num = #{cl_num}
	</select>
	<select id="selectMyClubList" resultType="kr.kh.final_project.vo.ClubVO">
		select * 
		from club 
		join club_member on cl_num = cm_cl_num
		where cm_me_num = #{me_num} and cm_authority = #{authority};
	</select>
	<insert id="insertClub">
		insert into club(cl_name, cl_emblem, cl_price, cl_rule, cl_introduction, cl_url, cl_rg_num)
		 values(#{club.cl_name},#{club.cl_emblem},#{club.cl_price},#{club.cl_rule},#{club.cl_introduction},#{club.cl_url},#{club.cl_rg_num})
	</insert>
	<select id="selectClubAgeList" resultType="kr.kh.final_project.vo.ClubVO">
		select * from preferred_age
	</select>
	<select id="selectClubTimeList" resultType="kr.kh.final_project.vo.ClubVO">
	 	select * from team_preferred_time
	</select>
</mapper>