<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.EntryDAO">
	<select id="selectEntryByMeNum" resultType="kr.kh.final_project.vo.EntryVO">
		select * from entry where en_te_num = #{te_num} and en_me_num = #{me_num}
	</select>
	<insert id="insertEntry">
		insert into entry(en_te_num, en_me_num)
		values(#{te_num}, #{me_num})
	</insert>
	<delete id="deleteEntry">
		delete from entry where en_num = #{en_num}
	</delete>
	<delete id="deleteEntryByTeNum">
		delete from entry where en_te_num = #{te_num}
	</delete>
</mapper>