<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.ExpenseDAO">
	
	<select id="selectExpense" resultType="kr.kh.final_project.vo.ExpenseVO">
		select * from expense
	</select>
	<update id="updatePrice">
		update expense set ex_pre=#{ex_pre}, ex_date=#{ex_date} where ex_num = #{ex_num}
	</update>
</mapper>