<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.FacilityDAO">
	<select id="selectFacilityByMeNum" resultType="kr.kh.final_project.vo.FacilityVO">
		select
			*
		from
			facility
				join
			buisnessman on fa_bu_num = bu_num
		where
			bu_me_num = #{me_num}
	</select>
</mapper>