<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.HoldingCouponDAO">
	<select id="selectMemberCouponList" resultType="kr.kh.final_project.vo.HoldingCouponVO">
		select 
			* 
		from 
			holding_coupon
		join
			coupon on hp_cp_num = cp_num
		where
			hp_me_num = #{user.me_num}
		limit
			#{cri.pageStart}, #{cri.perPageNum};
	</select>
	<select id="selectMemberCouPonListCount" resultType="int">
		select 
			count(*) 
		from 
			holding_coupon
		where
			hp_me_num = #{user.me_num};
	</select>
</mapper>