<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.ManagerDAO">
	<select id="selectManagerList" resultType="kr.kh.final_project.vo.ManagerVO">
		select
			*
		from
			board
				join
			member on bo_me_num = me_num
		where
			bo_bt_num = 6
				and
			me_authority = "USER"
				and
		<if test="cri.t == 'all'">
			(
				me_num like concat('%', #{cri.s}, '%')
					or
				me_nickname like concat('%', #{cri.s}, '%')
					or
				bo_title like concat('%', #{cri.s}, '%')
					or
				bo_reg_date like concat('%', #{cri.s}, '%')
			)		
		</if> 
		<if test="cri.t == 'first'">
				me_nickname like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'second'">
				bo_title like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'third'">
				bo_reg_date like concat('%', #{cri.s}, '%')
		</if>
		order by
			me_num asc
		limit
			#{cri.pageStart}, #{cri.perPageNum}
	</select>
	<!-- 매니저신청 수락버튼 (권한 MANAGER로 바꾸기) -->
	<update id="updateManagerByAuthority">
		update
			member
		set
			me_authority = 'MANAGER'
		where
			me_nickname = #{manager.me_nickname}
	</update>
	<select id="selectTotalCount" resultType="int">
		select 
			count(*) 
		from 
			board
				join
			member on bo_me_num = me_num
		where
			bo_bt_num = 6
				and
			me_authority = "USER"
				and
		<if test="cri.t == 'all'">
			(
				me_num like concat('%', #{cri.s}, '%')
					or
				me_nickname like concat('%', #{cri.s}, '%')
					or
				bo_title like concat('%', #{cri.s}, '%')
					or
				bo_reg_date like concat('%', #{cri.s}, '%')	
			)		
		</if> 
		<if test="cri.t == 'first'">
				me_nickname like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'second'">
				bo_title like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'third'">
				bo_reg_date like concat('%', #{cri.s}, '%')
		</if>
		order by
			me_num
				asc
	</select>
	<!-- 권한이 매니저인 회원만 조회 -->
	<select id="selectManagerList2" resultType="kr.kh.final_project.vo.ManagerVO">
		select
			*
		from
			board
				join
			member on bo_me_num = me_num
		where
			bo_bt_num = 6
				and
			me_authority = "MANAGER"
				and
		<if test="cri.t == 'all'">
			(
				me_num like concat('%', #{cri.s}, '%')
					or
				me_nickname like concat('%', #{cri.s}, '%')
					or
				bo_title like concat('%', #{cri.s}, '%')
					or
				bo_reg_date like concat('%', #{cri.s}, '%')
			)		
		</if> 
		<if test="cri.t == 'first'">
				me_nickname like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'second'">
				bo_title like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'third'">
				bo_reg_date like concat('%', #{cri.s}, '%')
		</if>
		order by
			me_num asc
		limit
			#{cri.pageStart}, #{cri.perPageNum}
	</select>
	<!-- 매니저신청 수락버튼 (권한 USER로 바꾸기) -->
	<update id="updateManagerByAuthority2">
		update
			member
		set
			me_authority = 'USER'
		where
			me_nickname = #{manager.me_nickname}
	</update>
	<!--  -->
	<select id="selectTotalCount2" resultType="int">
		select 
			count(*) 
		from 
			board
				join
			member on bo_me_num = me_num
		where
			bo_bt_num = 6
				and
			me_authority = "MANAGER"
				and
		<if test="cri.t == 'all'">
			(
				me_num like concat('%', #{cri.s}, '%')
					or
				me_nickname like concat('%', #{cri.s}, '%')
					or
				bo_title like concat('%', #{cri.s}, '%')
					or
				bo_reg_date like concat('%', #{cri.s}, '%')	
			)		
		</if> 
		<if test="cri.t == 'first'">
				me_nickname like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'second'">
				bo_title like concat('%', #{cri.s}, '%')
		</if>
		<if test="cri.t == 'third'">
				bo_reg_date like concat('%', #{cri.s}, '%')
		</if>
		order by
			me_num
				asc
	</select>
</mapper>