<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.ManagerDAO">
	<select id="selectManagerList" resultType="kr.kh.final_project.vo.ManagerVO">
		select
			*
		from
			board
				join
			member on bo_me_num = me_num
		where
			bo_bt_num = 6 and me_authority = 'USER'
	</select>
	<update id="updateManagerByAuthority">
		update
			member
		set
			me_authority = #{manager.me_authority}
		where
			me_id = #{manager.me_id}
	</update>
</mapper>