<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.MatchDAO">
	<select id="selectMatchListOfManager" resultType="kr.kh.final_project.vo.MatchVO">
		select
			`match`.*,
            stadium.*,
            facility.*,
            region.*,
            `time`.*,
            manager.mn_me_num
		from
			`match`
				join
			stadium on mt_st_num = st_num
				join
			facility on st_fa_num = fa_num
				join
			region on fa_rg_num = rg_num
				join
			`time` on mt_ti_num = ti_num
				left join
			manager on mn_mt_num = mt_num
				left join
			(select
                mt_ti_num as t1
			from
				manager
					join
				`match` on mn_mt_num = mt_num
			where
				mn_me_num = #{me_num} and
                mt_date = #{mt_date}) as T1 on T1.t1 = mt_ti_num
            	left join
			(select
                mt_ti_num + 1 as t2
			from
				manager
					join
				`match` on mn_mt_num = mt_num
			where
				mn_me_num = #{me_num} and
                mt_date = #{mt_date}) as T2 on T2.t2 = mt_ti_num
                left join
			(select
                mt_ti_num - 1 as t3
			from
				manager
					join
				`match` on mn_mt_num = mt_num
			where
				mn_me_num = #{me_num} and
                mt_date = #{mt_date}) as T3 on T3.t3 = mt_ti_num
		where
			mt_date = #{mt_date} and
            mt_state1 = 0 and
            if(ifnull(T1.t1, 0) + ifnull(T2.t2, 0) + ifnull(T3.t3, 0) + ifnull(mn_me_num, 0)= 0, true, false)
		order by
			ti_time asc;
	</select>
	<update id="updateMatchMtRule">
		update `match`
		set
			mt_rule = 1
		where
			mt_num = #{mt_num}
	</update>
</mapper>