<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.MatchDAO">
	<select id="selectMatchListOfManager" resultType="kr.kh.final_project.vo.MatchVO">
		select
			`match`.*,
            stadium.*,
            facility.*,
            region.*,
            `time`.*,
            ifnull(T0.t0 = mt_num, 0) as application,
            if(ifnull(T1.t1, 0) + ifnull(T2.t2, 0) + ifnull(T3.t3, 0) + ifnull(mn_me_num, 0)= 0, true, false) as application_able
		from
			`match`
				join
			stadium on mt_st_num = st_num
				join
			facility on st_fa_num = fa_num
				join
			region on fa_rg_num = rg_num
				join
			`time` on mt_ti_num = ti_num
				left join
			manager on mn_mt_num = mt_num
				left join
			(select
                mt_num as t0
			from
				manager
					join
				`match` on mn_mt_num = mt_num
			where
				mn_me_num = #{me_num} and
                mt_date = #{mt_date}) as T0 on T0.t0 = mt_num
				left join
			(select
                mt_ti_num as t1
			from
				manager
					join
				`match` on mn_mt_num = mt_num
			where
				mn_me_num = #{me_num} and
                mt_date = #{mt_date}) as T1 on T1.t1 = mt_ti_num
            	left join
			(select
                mt_ti_num + 1 as t2
			from
				manager
					join
				`match` on mn_mt_num = mt_num
			where
				mn_me_num = #{me_num} and
                mt_date = #{mt_date}) as T2 on T2.t2 = mt_ti_num
                left join
			(select
                mt_ti_num - 1 as t3
			from
				manager
					join
				`match` on mn_mt_num = mt_num
			where
				mn_me_num = #{me_num} and
                mt_date = #{mt_date}) as T3 on T3.t3 = mt_ti_num
		where
			mt_date = #{mt_date} and
            mt_state1 = 0
		order by
			ti_time asc
	</select>
	<update id="updateMatchMtRuleTo0">
		update `match`
		set
			mt_rule = 0
		where
			mt_num = #{mt_num}
	</update>
	<update id="updateMatchMtRuleTo1">
		update `match`
		set
			mt_rule = 1
		where
			mt_num = #{mt_num}
	</update>
	<update id="updateMatchMtTypeTo0">
		update `match`
		set
			mt_Type = 0
		where
			mt_num = #{mt_num}
	</update>
	<update id="updateMatchMtTypeTo1">
		update `match`
		set
			mt_Type = 1
		where
			mt_num = #{mt_num}
	</update>
	<update id="updateMatchMtTypeTo2">
		update `match`
		set
			mt_Type = 2
		where
			mt_num = #{mt_num}
	</update>
	<update id="updateMatchMtState1To0">
		update `match`
		set
			mt_state1 = 0
		where
			mt_num = #{mt_num}
	</update>
	<update id="updateMatchMtState1To1">
		update `match`
		set
			mt_state1 = 1
		where
			mt_num = #{mt_num}
	</update>
	<update id="updateMatchMtState1To2">
		update `match`
		set
			mt_state1 = 2
		where
			mt_num = #{mt_num}
	</update>
	<update id="updateMatchMtState2To1">
		update `match`
		set
			mt_state2 = 1
		where
			mt_num = #{mt_num}
	</update>
	<select id="selectManagerMatchListByMtDate" resultType="kr.kh.final_project.vo.MatchVO">
		SELECT
			manager.*,
		    `match`.*,
		    time.*,
		    stadium.*,
		    facility.*,
		    region.*,
		    count(en_num) as entry_count,
		    if(now() >= addtime(addtime(mt_date, ti_time), "12:00:00"), 3,
			    if(now() >= addtime(mt_date, ti_time), 2,
		            if(mt_type = 1,
						if(now() >= addtime(addtime(mt_date, ti_time), "-01:30:00"), 1, 0),
						if(mt_type = 2,
							if(now() >= addtime(addtime(mt_date, ti_time), "-12:00:00"), 1, 0), 0)))) as ready
		FROM
			manager
				join
			`match` on mn_mt_num = mt_num
				join
			time on ti_num = mt_ti_num
				join
			stadium on mt_st_num = st_num
				join
			facility on st_fa_num = fa_num
				join
			region on fa_rg_num = rg_num
				left join
			team on te_mt_num = mt_num
				left join
			entry on en_te_num = te_num
		where
			mt_date = #{mt_date} and
			mt_state1 in (0, 2) and
			mn_me_num = #{me_num}
		group by
			mt_num
		order by
			ti_num asc
	</select>
	<select id="selectMatchListOfSolo" resultType="kr.kh.final_project.vo.MatchVO">
		select
			`match`.*,
            stadium.*,
            facility.*,
            region.*,
            `time`.*,
            count(en_num) as entry_count,
            ifnull(T0.t0 = mt_num, 0) as application,
            if(ifnull(T1.t1, 0) + ifnull(T2.t2, 0) + ifnull(T3.t3, 0) + ifnull(T4.t4, 0) + ifnull(T5.t5, 0) + ifnull(T6.t6, 0) = 0, true, false) as application_able,
            if(now() >= addtime(addtime(mt_date, ti_time), "-01:30:00"), 1, 0) as ready
		from
			`match`
				join
			stadium on mt_st_num = st_num
				join
			facility on st_fa_num = fa_num
				join
			region on fa_rg_num = rg_num
				join
			`time` on mt_ti_num = ti_num
				left join
			team on te_mt_num = mt_num
				left join
			entry on en_te_num = te_num
            	left join
			(select
				mt_num as t0
			from
				entry
					join
				team on en_te_num = te_num
					join
				`match` on te_mt_num = mt_num
			where
				en_me_num = #{me_num} and
				mt_date = #{mt_date}) as T0 on T0.t0 = mt_num
				left join
			(select
				mt_ti_num as t1
			from
				entry
					join
				team on en_te_num = te_num
					join
				`match` on te_mt_num = mt_num
			where
				en_me_num = #{me_num} and
				mt_date = #{mt_date}) as T1 on T1.t1 = mt_ti_num
                left join
			(select
				mt_ti_num + 1 as t2
			from
				entry
					join
				team on en_te_num = te_num
					join
				`match` on te_mt_num = mt_num
			where
				en_me_num = #{me_num} and
				mt_date = #{mt_date}) as T2 on T2.t2 = mt_ti_num
                left join
			(select
				mt_ti_num - 1 as t3
			from
				entry
					join
				team on en_te_num = te_num
					join
				`match` on te_mt_num = mt_num
			where
				en_me_num = #{me_num} and
				mt_date = #{mt_date}) as T3 on T3.t3 = mt_ti_num
                left join
			(select
                mt_ti_num as t4
			from
				manager
					join
				`match` on mn_mt_num = mt_num
			where
				mn_me_num = #{me_num} and
                mt_date = #{mt_date}) as T4 on T4.t4 = mt_ti_num
            	left join
			(select
                mt_ti_num + 1 as t5
			from
				manager
					join
				`match` on mn_mt_num = mt_num
			where
				mn_me_num = #{me_num} and
                mt_date = #{mt_date}) as T5 on T5.t5 = mt_ti_num
                left join
			(select
                mt_ti_num - 1 as t6
			from
				manager
					join
				`match` on mn_mt_num = mt_num
			where
				mn_me_num = #{me_num} and
                mt_date = #{mt_date}) as T6 on T6.t6 = mt_ti_num
		where
			mt_date = #{mt_date} and
            mt_state1 = 0 and
            (mt_type = 0 or mt_type = 1) and
            ti_time >= if(mt_date = date(now()), time(now()), '00:00:00')
		group by
			mt_num
		order by
			ti_time asc
	</select>
	<select id="selectMatchByMeNum" resultType="kr.kh.final_project.vo.MatchVO">
		select
			`match`.*,
			stadium.*,
			facility.*,
			region.*,
			`time`.*,
			count(en_num) as entry_count,
			count(e1) as entry_res,
            if(now() >= addtime(addtime(mt_date, ti_time), "-01:30:00"), 1, 0) as ready
		from
			`match`
				join
			stadium on mt_st_num = st_num
				join
			facility on st_fa_num = fa_num
				join
			region on fa_rg_num = rg_num
				join
			`time` on mt_ti_num = ti_num
				left join
			team on te_mt_num = mt_num
				left join
			entry on en_te_num = te_num
				left join
			(select
				en_me_num as e1
			from
				entry
					join
				team on en_te_num = te_num
			where
				en_me_num = #{me_num} and
				te_mt_num = #{mt_num} and
				te_type = 0) as E1 on E1.e1 = en_me_num
		where
			mt_num = #{mt_num}
		group by
			mt_num
		order by
			ti_num asc
	</select>
	<select id="selectMatchListOfClub" resultType="kr.kh.final_project.vo.MatchVO">
		select
			`match`.*,
            stadium.*,
            facility.*,
            region.*,
            `time`.*,
            count(en_num) as entry_count,
            count(e1) as club_entry_count,
            ifnull(team_count, 0) as team_count,
            ifnull(T0.t0 = mt_num, 0) as application,
            if(ifnull(T1.t1, 0) + ifnull(T2.t2, 0) + ifnull(T3.t3, 0) = 0, true, false) as application_able,
            if(now() >= addtime(addtime(mt_date, ti_time), "-12:00:00"), 1, 0) as ready
		from
			`match`
				join
			stadium on mt_st_num = st_num
				join
			facility on st_fa_num = fa_num
				join
			region on fa_rg_num = rg_num
				join
			`time` on mt_ti_num = ti_num
				join
			(select
				tt_ti_num as ti
			from
				club
					join
				team_preferred_time on tt_cl_num = cl_num
			where
				cl_num = #{cl_num}) as Ti on Ti.ti = ti_num
				left join
			team on te_mt_num = mt_num
				left join
			club_team on ct_te_num = te_num
				left join
			entry on en_te_num = te_num
				left join
			(select
				en_num as e1
			from
				entry
					join
				team on en_te_num = te_num
					join
				club_team on ct_te_num = te_num
			where
				ct_cl_num = #{cl_num}) as E1 on E1.e1 = en_num
                left join
                (select
				mt_num as t0
			from
				club_team
					join
				team on ct_te_num = te_num
					join
				`match` on te_mt_num = mt_num
			where
				ct_cl_num = #{cl_num} and
				mt_date = #{mt_date}) as T0 on T0.t0 = mt_num
				left join
			(select
				mt_ti_num as t1
			from
				club_team
					join
				team on ct_te_num = te_num
					join
				`match` on te_mt_num = mt_num
			where
				ct_cl_num = #{cl_num} and
				mt_date = #{mt_date}) as T1 on T1.t1 = mt_ti_num
                left join
			(select
				mt_ti_num + 1 as t2
			from
				club_team
					join
				team on ct_te_num = te_num
					join
				`match` on te_mt_num = mt_num
			where
				ct_cl_num = #{cl_num} and
				mt_date = #{mt_date}) as T2 on T2.t2 = mt_ti_num
                left join
			(select
				mt_ti_num - 1 as t3
			from
				club_team
					join
				team on ct_te_num = te_num
					join
				`match` on te_mt_num = mt_num
			where
				ct_cl_num = #{cl_num} and
				mt_date = #{mt_date}) as T3 on T3.t3 = mt_ti_num
				left join
			(select
				mt_num as mt,
				count(te_num) as team_count
			from
				`match`
					join
				team on te_mt_num = mt_num
			where
				mt_date = #{mt_date} and
				te_type != 0
			group by
				mt_num) as TC on TC.mt = mt_num
		where
			mt_date = #{mt_date} and
            mt_state1 = 0 and
            (mt_type = 0 or mt_type = 2) and
            ti_time >= if(mt_date = date(now()), time(now()), '00:00:00')
		group by
			mt_num
		order by
			ti_time asc;
	</select>
	<select id="selectMatchByClNum" resultType="kr.kh.final_project.vo.MatchVO">
		select
			`match`.*,
			stadium.*,
			facility.*,
			region.*,
			`time`.*,
			count(en_num) as entry_count,
			count(e1) as club_entry_count,
			(select
				count(te_num) as team_count
			from
				`match`
					join
				team on te_mt_num = mt_num
			where
				mt_num = #{mt_num} and
				te_type != 0) as team_count,
			if(count(t1) = 0, 0, 1) as entry_res,
            if(now() >= addtime(addtime(mt_date, ti_time), "-12:00:00"), 1, 0) as ready
		from
			`match`
				join
			stadium on mt_st_num = st_num
				join
			facility on st_fa_num = fa_num
				join
			region on fa_rg_num = rg_num
				join
			`time` on mt_ti_num = ti_num
				left join
			team on te_mt_num = mt_num
				left join
			club_team on ct_te_num = te_num
				left join
			entry on en_te_num = te_num
				left join
			(select
				en_num as e1
			from
				entry
					join
				team on en_te_num = te_num
					join
				club_team on ct_te_num = te_num
			where
				ct_cl_num = #{cl_num}) as E1 on E1.e1 = en_num
				left join
			(select
				te_num as t1
			from
				team
					join
				club_team on ct_te_num = te_num
			where
				te_mt_num = #{mt_num} and
				ct_cl_num = #{cl_num} and
				te_type != 0) as T1 on T1.t1 = te_num
		where
			mt_num = #{mt_num}
		group by
			mt_num
		order by
			ti_num asc;
	</select>
	<delete id="deleteMatch">
		delete
			`match`
		from
			`match`
				join
			time on mt_ti_num = ti_num
		where
			now() >= addtime(addtime(mt_date, ti_time), "-01:30:00") and
			mt_state2 = 0;
	</delete>
	<select id="selectLimitMatch" resultType="kr.kh.final_project.vo.MatchVO">
		select
			`match`.*,
			time.*
		from
			`match`
				join
			time on mt_ti_num = ti_num
		where
			now() >= addtime(addtime(mt_date, ti_time), "-01:30:00") and
		    mt_type = 0
		group by
			mt_num
	</select>
	<select id="selectMatchSolo" resultType="kr.kh.final_project.vo.MatchVO">
		select
			`match`.*,
			time.*,
			mt_personnel * if(mt_rule = 0, 2, if(mt_rule = 1, 3, 0)) > count(en_num) as `delete`
		from
			`match`
				join
			time on mt_ti_num = ti_num
				left join
			team on te_mt_num = mt_num
				left join
			entry on en_te_num = te_num
		where
			now() >= addtime(addtime(mt_date, ti_time), "-01:30:00") and
			mt_type = 1
		group by
			mt_num
	</select>
	<select id="selectMatchClub" resultType="kr.kh.final_project.vo.MatchVO">
		select
			`match`.*,
			time.*,
			if(mt_rule = 0, 2, if(mt_rule = 1, 3, 0)) > count(te_num) as `delete`
		from
			`match`
				join
			time on mt_ti_num = ti_num
				left join
			team on te_mt_num = mt_num
		where
			now() >= addtime(addtime(mt_date, ti_time), "-12:00:00") and
		    te_type != 0 and
			mt_type = 2
		group by
			mt_num
	</select>
	<select id="selectEndMatch" resultType="kr.kh.final_project.vo.MatchVO">
		select
			`match`.*,
			time.*
		from
			`match`
				join
			time on mt_ti_num = ti_num
		where
			now() >= addtime(addtime(mt_date, ti_time), "12:00:00") and
    		mt_state1 = 0
		group by
			mt_num
	</select>
	<select id="selectManageMatchByMtNum" resultType="kr.kh.final_project.vo.MatchVO">
		SELECT
			manager.*,
			`match`.*,
			time.*,
			stadium.*,
			facility.*,
			region.*,
			count(distinct if(te_type != 0, te_type, null)) as team_count,
			count(distinct if(te_type = 0, 1, null)) as list_team,
			count(distinct if(te_type = 0, en_num, null)) as entry_count,
			if(now() >= addtime(addtime(mt_date, ti_time), "12:00:00"), 3,
				if(now() >= addtime(mt_date, ti_time), 2,
					if(mt_type = 1,
						if(now() >= addtime(addtime(mt_date, ti_time), "-01:30:00"), 1, 0),
						if(mt_type = 2,
							if(now() >= addtime(addtime(mt_date, ti_time), "-12:00:00"), 1, 0), 0)))) as ready
		FROM
			manager
				join
			`match` on mn_mt_num = mt_num
				left join
			team on te_mt_num = mt_num
				left join
			entry on en_te_num = te_num
				join
			time on ti_num = mt_ti_num
				join
			stadium on mt_st_num = st_num
				join
			facility on st_fa_num = fa_num
				join
			region on fa_rg_num = rg_num
		where
			mt_num = #{mt_num} and
			mt_state1 in (0, 2)
		group by
			mt_num;
	</select>
	<select id="selectMyMatchListByMeNum" resultType="kr.kh.final_project.vo.MatchVO">
		select
			`match`.*,
		    ti_time,
		    fa_name,
		    fa_add,
		    fa_add_detail,
		    st_name,
		    count(en_num) as entry_count
		from
			`match`
				join
			time on mt_ti_num = ti_num
				join
			stadium on mt_st_num = st_num
				join
			facility on st_fa_num = fa_num
				join
			team on te_mt_num = mt_num
				join
			entry on en_te_num = te_num
		where
			mt_num in (
				select
					mt_num
				from
					`match`
						join
					team on te_mt_num = mt_num
						join
					entry on en_te_num = te_num
				where
					en_me_num = #{me_num}) and
			mt_date >= curdate() and
			if(mt_date = curdate(), ti_time >= curtime(), true)
		group by
			mt_num
	</select>
	<select id="selectMyRecored" resultType="kr.kh.final_project.vo.MatchVO">
		select
			`match`.*,
		    ti_time,
		    fa_name,
		    st_name,
		    te_type,
		    te_num,
		    cl_num,
		    cl_name,
		    me_name
		from
			`match`
				join
			time on mt_ti_num = ti_num
				join
			stadium on mt_st_num = st_num
				join
			facility on st_fa_num = fa_num
				join
			team on te_mt_num = mt_num
				left join
			club_team on ct_te_num = te_num
				left join
			club on ct_cl_num = cl_num
				join
			entry on en_te_num = te_num
				left join
			manager on mn_mt_num = mt_num
				left join
			member on mn_me_num = me_num
		where
			en_me_num = #{me_num} and
			mt_state1 in (0, 2) and    
		    curdate() >= mt_date and
		    if(mt_date = curdate(), curtime() >= ti_time, true)
		order by
			mt_date desc, ti_time desc;
	</select>
	<select id="selectMatchRecord" resultType="kr.kh.final_project.vo.MatchVO">
		select
			count(if(qu_te_num1 = #{te_num}, if(qu_goal1 > qu_goal2, 1, null), if(qu_te_num2 = #{te_num}, if(qu_goal2 > qu_goal1, 1, null), null))) as win,
			count(if(qu_goal1 = qu_goal2, 1, null)) as draw,
			count(if(qu_te_num1 = #{te_num}, if(qu_goal2 > qu_goal1, 1, null), if(qu_te_num2 = #{te_num}, if(qu_goal1 > qu_goal2, 1, null), null))) as lose
		from
			`match`
				left join
			quarter on qu_te_num1 = #{te_num} or qu_te_num2 = #{te_num}
		where
			mt_num = #{mt_num}
	</select>
	<select id="selectManagerAble0ByMtDate" resultType="kr.kh.final_project.vo.MatchVO">
		select
			*
		from
			`match`
				join
			manager on mn_mt_num = mt_num
		where
			mn_me_num = #{me_num} and
			mt_date = adddate(#{mt_date}, interval -1 day) and if(mt_ti_num % 24 = 0, true, false)
	</select>
	<select id="selectManagerAble23ByMtDate" resultType="kr.kh.final_project.vo.MatchVO">
		select
			*
		from
			`match`
				join
			manager on mn_mt_num = mt_num
		where
			mn_me_num = #{me_num} and
			mt_date = adddate(#{mt_date}, interval 1 day) and if(mt_ti_num % 24 = 1, true, false)
	</select>
	<select id="selectMatchAble0ByMtDate" resultType="kr.kh.final_project.vo.MatchVO">
		select
			*
		from
			`match`
				join
			team on te_mt_num = mt_num
				join
			entry on en_te_num = te_num
		where
			en_me_num = #{me_num} and
			mt_date = adddate(#{mt_date}, interval -1 day) and if(mt_ti_num % 24 = 0, true, false)
	</select>
	<select id="selectMatchAble23ByMtDate" resultType="kr.kh.final_project.vo.MatchVO">
		select
			*
		from
			`match`
				join
			team on te_mt_num = mt_num
				join
			entry on en_te_num = te_num
		where
			en_me_num = #{me_num} and
			mt_date = adddate(#{mt_date}, interval 1 day) and if(mt_ti_num % 24 = 1, true, false)
	</select>
	
</mapper>