<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.MemberDAO">
	<select id="selectMemberListBySearch" resultType="kr.kh.final_project.vo.MemberVO">
		select * from member 
		<if test='cri.t == "all"'>
		where
			me_num like concat('%', #{cri.s}, '%')
				or
			me_id like concat('%', #{cri.s}, '%')
				or
			me_nickname like concat('%', #{cri.s}, '%')
				or
			me_email like concat('%', #{cri.s}, '%')
				or
			me_tr_name like concat('%', #{cri.s}, '%')
				or
			me_authority like concat('%', #{cri.s}, '%')
				or
			<if test='cri.s_int != 1'>
				me_state1 like concat('%', #{cri.s_int}, '%')
					and
				me_state2 like concat('%', #{cri.s_int}, '%')
			</if>
			<if test='cri.s_int == 1'>
				me_state1 like concat('%', #{cri.s_int}, '%')
					or
				me_state2 like concat('%', #{cri.s_int}, '%')
			</if>
		</if>
		<if test='cri.t == "second"'>
		where
			me_nickname like concat('%', #{cri.s}, '%')
		</if>
		<if test='cri.t == "third"'>
		where
			me_id like concat('%', #{cri.s}, '%')
		</if>
		<if test='cri.t == "fourth"'>
		where
			me_authority like concat('%', #{cri.s}, '%')
		</if>
		<if test='cri.t == "fifth"'>
		where
			<if test='cri.s_int != 1'>
				me_state1 like concat('%', #{cri.s_int}, '%')
					and
				me_state2 like concat('%', #{cri.s_int}, '%')
			</if>
			<if test='cri.s_int == 1'>
				me_state1 like concat('%', #{cri.s_int}, '%')
					or
				me_state2 like concat('%', #{cri.s_int}, '%')
			</if>
		</if>
		order by 
			me_num asc
		limit
			#{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectTotalCount" resultType="int">
		select count(*) from member 
		<if test='cri.t == "all"'>
		where
			me_num like concat('%', #{cri.s}, '%')
				or
			me_id like concat('%', #{cri.s}, '%')
				or
			me_nickname like concat('%', #{cri.s}, '%')
				or
			me_email like concat('%', #{cri.s}, '%')
				or
			me_tr_name like concat('%', #{cri.s}, '%')
				or
			me_authority like concat('%', #{cri.s}, '%')
				or
			<if test='cri.s_int != 1'>
				me_state1 like concat('%', #{cri.s_int}, '%')
					and
				me_state2 like concat('%', #{cri.s_int}, '%')
			</if>
			<if test='cri.s_int == 1'>
				me_state1 like concat('%', #{cri.s_int}, '%')
					or
				me_state2 like concat('%', #{cri.s_int}, '%')
			</if>
		</if> 
		<if test='cri.t == "second"'>
		where
			me_nickname like concat('%', #{cri.s}, '%')
		</if>
		<if test='cri.t == "third"'>
		where
			me_id like concat('%', #{cri.s}, '%')
		</if>
		<if test='cri.t == "fourth"'>
		where
			me_authority like concat('%', #{cri.s}, '%')
		</if>
		<if test='cri.t == "fifth"'>
		where
			<if test='cri.s_int != 1'>
				me_state1 like concat('%', #{cri.s_int}, '%')
					and
				me_state2 like concat('%', #{cri.s_int}, '%')
			</if>
			<if test='cri.s_int == 1'>
				me_state1 like concat('%', #{cri.s_int}, '%')
					or
				me_state2 like concat('%', #{cri.s_int}, '%')
			</if>
		</if>
		order by
			me_num
				asc
	</select>

	<select id="searchMemberById" resultType="kr.kh.final_project.vo.MemberVO">
		SELECT * FROM Member WHERE me_id like concat('%', #{keyword}, '%');
	</select>
	<select id="searchMemberByName" resultType="kr.kh.final_project.vo.MemberVO">
		SELECT * FROM Member WHERE me_name like concat('%', #{keyword}, '%');
	</select>
	<select id="selectMemberList" resultType="kr.kh.final_project.vo.MemberVO">
		SELECT * FROM Member
	</select>
	
	<select id="selectMember" resultType="kr.kh.final_project.vo.MemberVO">
		select * from member where me_id = #{me_id}
	</select>
	<select id="selectMemberByEmail" resultType="kr.kh.final_project.vo.MemberVO">
		select * from member where me_email = #{me_email}
	</select>
	<select id="selectMemberByNickName" resultType="kr.kh.final_project.vo.MemberVO">
		select * from member where me_nickname = #{check}
	</select>
	
	<insert id="insertMember">
		insert into member(me_id, me_pw, me_email, me_phone, me_name, me_gender, me_birthday, me_nickname, me_rg_num, me_profile)
		 values(#{m.me_id},#{m.me_pw},#{m.me_email},#{m.me_phone},#{m.me_name},#{m.me_gender},#{m.me_birthday},#{m.me_nickname},#{m.me_rg_num},#{m.me_profile})
	</insert>
	<update id="updateMemberSession">
		update
			member
		set
			me_session_id = #{user.me_session_id},
			me_session_limit = #{user.me_session_limit}
		where
			me_id = #{user.me_id}
	</update>
	<select id="selectMemberBySession" resultType="kr.kh.final_project.vo.MemberVO">
		select 
			* 
		from 
			member
		where
			me_session_id = #{me_session_id} and me_session_limit >= now() 
	</select>
	<select id="selectManager" resultType="kr.kh.final_project.vo.MemberVO">
		select * from member where me_num= #{me_num}
	</select>
	<update id="updateMemberPoint">
		update
			member
		set
			me_point = #{user.me_point}
		where
			me_num = #{user.me_num}
	</update>
	<select id="selectMemberByNum" resultType="kr.kh.final_project.vo.MemberVO">
		select * from member 
		where me_num= #{me_num}
	</select>
	<select id="selectMemberNumByNick2" resultType="kr.kh.final_project.vo.MemberVO">
		select * from member where me_nickname = #{check}
	</select>
	<update id="updateFile">
		update file(fi_bo_num, fi_name, fi_ori_name) set (#{file.fi_bo_num}, #{file.fi_name}, #{file.fi_ori_name})
	</update>
	<select id="selectMemberRegion" resultType="kr.kh.final_project.vo.MemberVO">
		select
			*
		from
			member
		left join
			region on me_rg_num = rg_num
		where
			me_num = #{user.me_num}
	</select>
	<update id="updateEmailMember">
		update 
			member
    	set
        	me_id = NULL,
        	me_pw = NULL,
        	me_name = NULL,
        	me_nickname = NULL, 
			me_phone = NULL,
			me_email = NULL,
			me_gender = NULL,
			me_birthday = NULL,
			me_authority = '탈퇴한 회원입니다',
			me_rating = 0,
			me_profile = NULL,
			me_point = 0,
			me_state1 = 0, 
			me_state2 = 0, 
			me_session_id = NULL,
			me_session_limit = NULL
    	where me_id = #{me_id}
	</update>
	<update id="updateUserBoardBanState">
		update
			member
		set
			me_state1 = #{i}
		where
			me_num = #{me_num}
	</update>
	<update id="updateUserMatchBanState">
		update
			member
		set
			me_state2 = #{i}
		where
			me_num = #{me_num}
	</update>
	<update id="updateMember">
		update member
		set
			me_profile = #{fi_name},
			me_nickname = #{m.me_nickname},
			me_phone = #{m.me_phone},
			me_name = #{m.me_name},
			me_gender = #{m.me_gender},
			me_birthday = #{m.me_birthday},
			me_rg_num = #{m.me_rg_num}
		where me_num = #{m.me_num}
	</update>
	<update id="updateMemberPoint2">
		update
			member
		set
			me_point = me_point - #{point}
		where
			me_num = #{me_num}
	</update>
</mapper>
