<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.OperatingDAO">
	<select id="selectOperatingListByFaNum" resultType="kr.kh.final_project.vo.OperatingVO">
		select * from operating where op_fa_num = #{fa_num}
	</select>
	<insert id="insertOperating">
			insert into 
				operating(op_day, op_open, op_close, op_fa_num)
			values
				#{operating.op_day}, #{operating.op_open}, 
				#{operating.op_close}, #{operating.op_fa_num}
	</insert>

</mapper>