<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.RegionDAO">
	<select id="selectMainRegion" resultType="kr.kh.final_project.vo.RegionVO">
		select distinct(rg_main) from region;
	</select>
	<select id="selectSubRegion" resultType="kr.kh.final_project.vo.RegionVO">
		select rg_num,rg_sub from region where rg_main = #{rg_main};
	</select>
	<select id="selectMainRegion2" resultType="kr.kh.final_project.vo.RegionVO">
		select * from region where rg_sub = '전체';
	</select>
	<select id="selectSubRegionByMainRegion" resultType="kr.kh.final_project.vo.RegionVO">
		select
			*
		from
			region
		where
			rg_main = (select rg_main from region where rg_num = #{rg_num});
	</select>
	<select id="selectRegionByRgNum" resultType="kr.kh.final_project.vo.RegionVO">
		select * from region where rg_num = #{rg_num}
	</select>
	<select id="selectRgNumSubAll" resultType="int">
		select rg_num from region where rg_sub = '전체';
	</select>
	<select id="selectSubRgNumByMainRgNum" resultType="int">
		select
			*
		from
			region
		where
			rg_main = (select rg_main from region where rg_num = #{rg_num});
	</select>
	<select id="selectRgNumByRgNum" resultType="int">
		select rg_num from region where rg_num = #{rg_num}
	<select id="selectUserRegion" resultType="kr.kh.final_project.vo.RegionVO">
		select * from region
	</select>
</mapper>