<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.StadiumDAO">
	<!-- 게시글을 가져올 떄 첨부파일을 자동으로 가져오기 위해 resultMap을 사용함-->
	<resultMap type="kr.kh.final_project.vo.StadiumVO" id="StadiumVO">
		<id property="st_num" column="st_num"/>
		<result property="st_name" column="st_name"/>
		<result property="st_locate" column="st_locate"/>
		<result property="st_door" column="st_door"/>
		<result property="st_floortype" column="st_floortype"/>
		<result property="st_width" column="st_width"/>
		<result property="st_height" column="st_height"/>
		<result property="st_max" column="st_max"/>
		<result property="st_available" column="st_available"/>
		<result property="st_fa_num" column="st_fa_num"/>
		<result property="st_deleted" column="st_deleted"/>
		<collection property="availability" ofType="kr.kh.final_project.vo.AvailabilityVO" column="st_num" select="selectAvailability"/>
	</resultMap>
	<select id="selectAvailability" resultType="kr.kh.final_project.vo.AvailabilityVO">
		select * from availability where av_st_num = #{st_num}
	</select>
	<select id="selectStadiumListByFaNum" resultType="kr.kh.final_project.vo.StadiumVO">
		select * from stadium where st_fa_num = #{fa_num}
	</select>
	<select id="selectStadiumByStNum" resultType="kr.kh.final_project.vo.StadiumVO">
		select * from stadium where st_num = #{st_num}
	</select>
	<select id="selectStadiumList" resultMap="StadiumVO">
		select * from stadium 
		<where>
			<choose>
				<when test='cri.t == "all"'>
					(st_name like concat('%', #{cri.s}, '%')
					or st_locate like concat('%', #{cri.s}, '%'))
				</when>
				<when test='cri.t == "name"'>
					(st_name like concat('%', #{cri.s}, '%'))
				</when>
				<when test='cri.t == "locate"'>
					(st_locate like concat('%', #{cri.s}, '%'))
				</when>
			</choose>
			and st_fa_num = #{fa_num}
			and stadium.st_available != 2
		</where>
			order by st_name asc
			limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectCountStadiumList" resultType="int">
		select count(*) from stadium 
		<where>
			<choose>
				<when test='cri.t == "all"'>
					(st_name like concat('%', #{cri.s}, '%')
					or st_locate like concat('%', #{cri.s}, '%'))
				</when>
				<when test='cri.t == "name"'>
					(st_name like concat('%', #{cri.s}, '%'))
				</when>
				<when test='cri.t == "locate"'>
					(st_locate like concat('%', #{cri.s}, '%'))
				</when>
			</choose>
			and st_fa_num = #{fa_num}
			and stadium.st_available != 2
		</where>
	</select>
	<insert id="insertStadium" useGeneratedKeys="true" keyProperty="stadium.st_num">
		insert into stadium(st_num, st_name, st_locate, st_door, st_floortype, st_width,
					st_height, st_max, st_available, st_note, st_fa_num)
			values
				(#{stadium.st_num}, #{stadium.st_name}, #{stadium.st_locate}, #{stadium.st_door}, 
				#{stadium.st_floortype}, #{stadium.st_width}, #{stadium.st_height}, 
				#{stadium.st_max}, #{stadium.st_available}, #{stadium.st_note}, #{stadium.st_fa_num})
	</insert>
	<insert id="insertAvailability">
 	    insert into availability(av_st_num, av_notdate, av_reason)
 	    values
 	    (#{availability.av_st_num}, #{availability.av_notdate}, #{availability.av_reason})
	</insert>
	<update id="updateAvailability">
		 update availability set
		 	av_notdate = #{availability.av_notdate}, 
		 	av_reason = #{availability.av_reason}
 	    where av_st_num = #{availability.av_st_num}
	</update>
	
	<select id="selectStadium" resultType="kr.kh.final_project.vo.StadiumVO">
		 select * from stadium where st_num = #{st_num}
	</select>
	<update id="updateStadium">
		update stadium set
			st_name = #{stadium.st_name}, 
			st_locate = #{stadium.st_locate}, 
			st_door = #{stadium.st_door}, 
			st_floortype = #{stadium.st_floortype}, 
			st_width = #{stadium.st_width}, 
			st_height = #{stadium.st_height}, 
			st_max = #{stadium.st_max}, 
			st_available = #{stadium.st_available}, 
			st_note = #{stadium.st_note}
		where st_num = #{stadium.st_num}
	</update>
	<update id="updateStadiumAvailability" parameterType="int">
	    update stadium
	    set st_available = 2
	    where st_fa_num = #{fa_num}
	</update>
	<delete id="deleteAvailability">
		delete from availability
		where av_st_num = #{st_num};
	</delete>
	<select id="selectStadiumListByAdmin" resultType="kr.kh.final_project.vo.StadiumVO">
		select * from stadium 
		<where>
			<choose>
				<when test='cri.t == "all"'>
					(st_name like concat('%', #{cri.s}, '%')
					or st_locate like concat('%', #{cri.s}, '%'))
				</when>
				<when test='cri.t == "name"'>
					(st_name like concat('%', #{cri.s}, '%'))
				</when>
				<when test='cri.t == "locate"'>
					(st_locate like concat('%', #{cri.s}, '%'))
				</when>
			</choose>
			and st_fa_num = #{fa_num}
		</where>
			order by st_name asc
			limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectCountStadiumListByAdmin" resultType="int">
		select count(*) from stadium 
		<where>
			<choose>
				<when test='cri.t == "all"'>
					(st_name like concat('%', #{cri.s}, '%')
					or st_locate like concat('%', #{cri.s}, '%'))
				</when>
				<when test='cri.t == "name"'>
					(st_name like concat('%', #{cri.s}, '%'))
				</when>
				<when test='cri.t == "locate"'>
					(st_locate like concat('%', #{cri.s}, '%'))
				</when>
			</choose>
			and st_fa_num = #{fa_num}
		</where>
	</select>
	<select id="selectAllStadiumList"  resultType="kr.kh.final_project.vo.StadiumVO">
		select * from stadium
	</select>
	<select id="selectStadiumByMeNum"  resultType="kr.kh.final_project.vo.StadiumVO">
		select
			stadium.*
		from
			businessman
				join
			facility on fa_bu_num = bu_num
				join
			stadium on st_fa_num = fa_num
		where
			bu_me_num = #{me_num} and
		    st_num = #{st_num} and
            st_available != 2
	</select>
</mapper>