<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.StadiumDAO">
	<select id="selectStadiumListByFaNum" resultType="kr.kh.final_project.vo.StadiumVO">
		select * from stadium where st_fa_num = #{fa_num}
	</select>
	<select id="selectStadiumByStNum" resultType="kr.kh.final_project.vo.StadiumVO">
		select * from stadium where st_num = #{st_num}
	</select>
	<select id="selectStadiumList" resultType="kr.kh.final_project.vo.StadiumVO">
		select * from stadium
	</select>
</mapper>