<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.TeamDAO">
	<select id="selectListTeamByMtNum" resultType="kr.kh.final_project.vo.TeamVO">
		SELECT
			team.*,
		    `match`.*,
		    count(en_num) as entry_count
		FROM
			team
				join
			`match` on te_mt_num = mt_num
				left join
			entry on en_te_num = te_num
		where
			te_mt_num = #{mt_num} and
		    te_type = 0
		group by
			te_num
	</select>
	<insert id="insertListTeamByMtNum">
		insert into team(te_mt_num, te_type)
		values(#{mt_num}, 0)
	</insert>
	<select id="selectTeamByClNum" resultType="kr.kh.final_project.vo.TeamVO">
		SELECT
			team.*,
			`match`.*
		FROM
			team
				join
			`match` on te_mt_num = mt_num
		    	join
			club_team on ct_te_num = te_num
		where
			te_mt_num = #{mt_num} and
			te_type != 0 and
		    ct_cl_num = #{cl_num}
		group by
			te_num
	</select>
	<insert id="insertTeam">
		insert into team(te_mt_num, te_type)
		values(#{mt_num}, (
				select
					count(*)
				from
					team as t
				where
					t.te_mt_num = #{mt_num} and
					t.te_type != 0) + 1)
	</insert>
	<select id="selectNewTeamByMtNum" resultType="kr.kh.final_project.vo.TeamVO">
		select
			*
		from
			team
				left join
			club_team on ct_te_num = te_num
		where
			te_mt_num = #{mt_num} and
			te_type != 0
		order by
			te_num desc
		limit
			1
	</select>
	<insert id="insertClubTeam">
		insert into club_team(ct_te_num, ct_cl_num)
		values(#{te_num}, #{cl_num})
	</insert>
	<select id="selectTeamByMtNum" resultType="kr.kh.final_project.vo.TeamVO">
		select
			team.*,
		    club_team.*,
		    cl_name,
		    count(en_num) as club_entry_count
		from
			team
				left join
			entry on en_te_num = te_num
				join
			club_team on ct_te_num = te_num
				join
			club on ct_cl_num = cl_num
		where
			te_type != 0 and
		    te_mt_num = #{mt_num}
		group by
			te_num
	</select>
	<update id="updateTeamTeType">
		update team
		set
			te_type = te_type - 1
		where
			te_num = #{te_num}
	</update>
	<delete id="deleteClubTeamByTeNum">
		delete from club_team where ct_te_num = #{te_num}
	</delete>
	<delete id="deleteTeam">
		delete from	team where te_num = #{te_num}
	</delete>
</mapper>