<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.final_project.dao.TimeDAO">
	<select id="selectTimeList" resultType="kr.kh.final_project.vo.TimeVO">
		select * from time
	</select>
	<select id="selectTiNumListByMtDate" resultType="int">
		select ti_num from futsal.time where ti_day = (select substr('일월화수목금토', dayofweek(#{mt_date}), 1))
	</select>
</mapper>